body {
    background-image: url("../images/simpsons-clouds.jpg");
}


.jumbotron {
    font-family: 'Rock Salt', cursive;
    opacity: .7;
    color: yellow;    
    background-color: #000000;
}

#gameArea {
    text-align:center;
}

#click-to-start {
    font-family: 'Rock Salt', cursive;
    text-align:center;
    width: 100%
}

#click-to-start:hover{
    background-color:red;
    color: yellow;
}

#done {
    width:75%;
    font-family: 'Rock Salt', cursive;
    margin: 0px 0px 50px 0px; 
    padding: 25px 0px; 
}

#results {
    text-align:center;
    font-family: 'Rock Salt', cursive;
}

#restart {
    margin-top: 50px;
    width: 50%;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}